font{

    font-family: 'YouYuan';
}
a {
    text-decoration:none;
}

body {
    width: auto;
}

#body {
    width: 100%;
    height: 900px;
    margin: 0 auto;
    font-family: "LiSu";
    background: pink;
    text-align: center;
}

#content {
    width: 92%;
    margin-top: 8px;
    margin: 0 auto;
}
.database-list{
    float: left;
    width: 100%;
    margin-top: 10px;
}
.add-databases{
    background: white;
    width: 100%;
    height: 50px;
    background: whitesmoke;
    text-align: center;
    margin-top: 10px;
}
.add-form{
    margin-top: 10px;
}
.add {
    position: relative;
    width: 50px;
    height: 50px;
    color: #ccc;
    margin:0 auto;
    font-size: 40px;
    line-height: 40px;
    display: block;
}
.add a:hover{
    color: green;
}

.items table{
    width: 100%;

}


/**
下面一段是表格隔行变色
 */
.altrowstable {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #a9c6c9;
    border-collapse: collapse;
}
.altrowstable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}
.altrowstable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}
.oddrowcolor{
    background-color:#d4e3e5;
}
.evenrowcolor{
    background-color:#c3dde0;
}

.check-style-unequal-width {
    width: 8px;
    height: 16px;
    border-color: #009933;
    border-style: solid;
    border-width: 0 3px 5px 0;
    transform: rotate(45deg);
}