font{

    font-family: 'YouYuan';
}
a {
    text-decoration:none;
}

body {
    width: auto;
}

#body {
    width: 100%;
    height: 900px;
    margin: 0 auto;
    font-family: "LiSu";
    background: pink;
    text-align: center;
}

#top{
    position:relative;
    float:left;
    height:40px;
    width:100%;
    background-color:black;
}
.top_left{
    position:relative;
    float:left;
    height:40px;
    width:30px;

}
.item1{
    position:relative;
    float:left;
    height:40px;
    width:5%;
    color:#F00;
    text-align:center;
    line-height:50px;
    display:block;
}
.item1 a{
    color:#FFF;
}
.item1:hover{
    background-color:green;
}



#content {
    width: 92%;
    margin-top: 20px;
    margin: 0 auto;
}
.content-item{
    float: left;
    width: 100%;
}
.connect{
    background: gold;
}


/**
下面一段是表格隔行变色
 */
.altrowstable {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #a9c6c9;
    border-collapse: collapse;
}
.altrowstable {
    width: 100%;
    float: left;
}
.altrowstable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}
.altrowstable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}
.oddrowcolor{
    background-color:#d4e3e5;
}
.evenrowcolor{
    background-color:#c3dde0;
}


.menu{
    background: #00AAAA;
    margin-top: 10px;
}

#sql-div{
    width: 50%;
    float: left;
    height:400px;
}
#sql-div textarea{
    width: 100%;
    height: 100%;
}
#sql-show{
    width: 49%;
    float: left;
    height:400px;
    border:1px solid red;
}
