font{

    font-family: 'YouYuan';
}
a {
    text-decoration:none;
}

body {
    width: auto;
}

#body {
    width: 100%;
    height: 900px;
    margin: 0 auto;
    font-family: "LiSu";
    text-align: center;
}

#content {
    width: 92%;
    margin-top: 8px;
    margin: 0 auto;
}
.content-item{
    float: left;
    width: 100%;
}
#show-code table{
    float: left;
    width: 100%;
}

/**
下面一段是表格隔行变色
 */
.altrowstable {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #a9c6c9;
    border-collapse: collapse;
}
.altrowstable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}
.altrowstable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}
.oddrowcolor{
    background-color:#d4e3e5;
}
.evenrowcolor{
    background-color:#c3dde0;
}

#table-clumn table{
    float: left;
    width: 100%;
}

#table-index{
    float: left;
    width: 100%;
}