<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.neo.dao.NewsDao" >
    <resultMap id="newsResultMap" type="com.neo.domain.NewsTable" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="zaiyao" property="zaiyao" jdbcType="VARCHAR" />
        <result column="time" property="time" jdbcType="VARCHAR" />
        <result column="create_time" property="create_time" jdbcType="VARCHAR" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="tag" property="tag" jdbcType="VARCHAR" />
        <result column="user_id" property="user_id" jdbcType="VARCHAR" />
        <result column="user_name" property="user_name" jdbcType="VARCHAR" />
      
    </resultMap>

    <sql id="Base_Column_List" >
        id, 			
		title,		
		zaiyao,		
		time,		
		create_time	,
		content	,	
		tag	,		
		user_id	,	
		user_name	
    </sql>

    
    <insert id="addnews" parameterType="com.neo.domain.NewsTable" >
       INSERT INTO 
            news
            (
            	id, 			
				title,		
				zaiyao,		
				time,		
				create_time	,
				content	,	
				tag	,		
				user_id	,	
				user_name
			) 
        VALUES
            (
            	#{id 			},
				#{title		    },
				#{zaiyao		},
				#{time		    },
				#{create_time	},
				#{content		},
				#{tag			},
				#{user_id		},
				#{user_name	    }
            	
            )
    </insert>
    
    
    
    <update id="updateNewsById" parameterType="com.neo.domain.NewsTable" >
  		update news
       		 set
				title			=   #{title		    },
				zaiyao			=   #{zaiyao		},
				time			=   #{time		    },
				create_time		=   #{create_time	},
				content			=   #{content		},
				tag				 =  #{tag			},
				user_id			=   #{user_id		},
				user_name		=   #{user_name	    }
			where 
				id=#{id}
  	</update>
	
	
	
	
    
    
    <select id="getAllNewsByUser" parameterType="com.neo.domain.NewsTable"  resultMap="newsResultMap" >
		select * from news r where r.user_id=#{user_id}
	</select>
	
	<select id="getAllNews"  resultMap="newsResultMap" >
		select * from news 
	</select>
    <select id="getNewsById" parameterType="int"  resultMap="newsResultMap" >
		select * from news where id=#{id}
	</select>
	
    
    
    
    <delete id="deleteNewsById" parameterType="int" >
  		delete from   news  where id=#{id}
  	</delete>
    
    
    
</mapper>