<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.neo.dao.UserDao" >
    <resultMap id="BaseResultMap" type="com.neo.domain.UserTable" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="user_name" property="user_name" jdbcType="VARCHAR" />
        <result column="user_passwd" property="user_passwd" jdbcType="VARCHAR" />
        <result column="user_email" property="user_email" jdbcType="VARCHAR" />
        <result column="user_phone" property="user_phone" jdbcType="VARCHAR" />
        <result column="group_code" property="group_code" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, user_name,user_passwd, user_email, user_phone,group_code
    </sql>

    
    
     <insert id="addUser" parameterType="com.neo.domain.UserTable" >
       INSERT INTO 
            user
            (
            	id, 			
				user_name,		
				user_passwd,		
				user_email,		
				user_phone
			) 
        VALUES
            (
            	#{id 			},
				#{user_name		},
				#{user_passwd	},
				#{user_email	},
				#{user_phone	}
            	
            )
    </insert>
    
    
    
    <select id="getUserByName" parameterType="java.lang.String" resultMap="BaseResultMap" >
        SELECT 
       <include refid="Base_Column_List" />
       FROM user
       WHERE user_name = #{user_name}
    </select>

    
</mapper>